<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello there, this is sam.html</h1>
    <!-- <form action="" method="post">
        {% csrf_token %}
        <label for="name">Enter Name :</label>
        <input type="text" name="name" id="name"> <br>

        <label for="age">Enter Age :</label>
        <input type="number" name="age" id="age">  <br>

        <label for="date">Enter DOB :</label>
        <input type="date" name="dob" id="dob"> <br>

        <label for="email">Enter EMAIL :</label>
        <input type="email" name="email" id="email"> <br>

        <button>SUBMIT</button>
    </form> -->
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="submit">
    </form>
</body>
</html>